<h3>Results</h3>
<div class="content">

  <ol>
    <li>
      <a href="#">Ubik</a>
      <a class="year" href="by_year.html">(1969)</a> -
      <a href="biography.html">Philip K. Dick</a>
      <a href="#" class="action" onclick="javascript:alert('Add in _to read next_ shelve');">to read next</a>
      <a href="#" class="action">to buy</a>
      <a href="#" class="action">mark as read</a>
    </li>
  </ol>
</div>
<p> Didn't find your book?
<a href="add.html">Create it</a>. </p>
