<h3>Results</h3>
<div class="content">
  <ol>
    {{#each model as |book|}}
    <li>
      <a href="#">{{book.title}}</a>
      <a class="year" href="by_year.html">({{book.publicationDate}})</a> -
      <a href="biography.html">{{book.author}}</a>
      <a href="#" class="action" onclick="javascript:alert('Add in _to read next_ shelve');">to read next</a>
      <a href="#" class="action">to buy</a>
      <a href="#" class="action">mark as read</a>
    </li>
    {{/each}}
  </ol>
</div>
<p> Didn't find your book?
<a href="add.html">Create it</a>. </p>
