<div class="article">
  {{book-list books=model title="To read next" shelve="next"}}

  {{book-list books=model title="To buy" shelve="buy"}}

  {{book-list books=model title="History" shelve="history"}}
</div>
